body {
    /*!*font-family: 'Roboto', Georgia, sans-serif !important;*!*/
    /*font-family: 'Lexend Deca', sans-serif !important;*/
    font-family: 'Quicksand', sans-serif !important;
    font-size: 14px !important;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Quicksand' !important;
    /*font-family: 'Montserrat', sans-serif !important;*/
    font-weight: 700 !important;
    color: #020b58 !important;
    margin-top: 15px !important;
}

/*.row {*/
    /*flex-wrap: nowrap !important;*/
/*}*/

th, td {
    font-size: 13px !important;
}

input {
    font-size: 12px !important;
}

button {
    font-size: 12px !important;
}
