{% extends "base.html" %}

{% block input_form %}
    <h4 xmlns="http://www.w3.org/1999/html">Upload Error Messages from ES@Chicago</h4>
          <form action="" method="post">
        {% csrf_token %}
        <div class="form-group-sm">
            <label for="starts_from">Start from:</label>
            <input name="start_date"
                   id="starts_from"
                   class="form-control form-control-sm flatpickr flatpickr-input active"
                   type="text"
                   readonly="readonly"
                   placeholder="{{ reader_form.start_date }}">
        </div>
        <div class="form-group-sm">
            <label for="ends_with">Ends with:</label>
            <input name="end_date"
                   id="ends_with"
                   class="form-control form-control-sm flatpickr flatpickr-input active"
                   type="text"
                   readonly="readonly"
                   placeholder="{{ reader_form.end_date }}">
        </div>
        <div class="form-group-sm">
            <label for="error_type">Error type:</label>
            <select class="form-control form-control-sm" name="error_type" id="error_type">
              <option value="exeerror">exeerror</option>
              <option value="ddmerror">ddmerror</option>
              <option value="piloterror">piloterror</option>
              <option value="brokerageerror">brokerageerror</option>
              <option value="superror">superror</option>
              <option value="taskbuffererror">taskbuffererror</option>
            </select>
        </div>
        <div class="form-group-sm">
            <label for="page_size">Page size</label>
            <input name="page_size"
                   class="form-control form-control-sm"
                   type="text"
                   placeholder="{{ reader_form.page_size }}">
            </input>
        </div>
          <br/>
          <br/>
        <button type="submit" value="Submit" class="btn btn-primary mb-2">Upload data</button>
       </form>
            <script>
                $(document).ready(function() {
                    $("#error_type").val("{{ reader_form.error_type }}").change();
                    $('#starts_from').flatpickr({
                        enableTime: true,
                        nocalendar: true,
                        dateFormat: 'Z',
                        time_24hr: true
                    });
                    $('#ends_with').flatpickr({
                        enableTime: true,
                        nocalendar: true,
                        dateFormat: 'Z',
                        time_24hr: true
                    });
                });
        </script>
{% endblock input_form %}

{% block content %}
{% if submitted == True and es_data %}
        <script>
        $(document).ready(function() {
            var data = {{ es_data|safe }};
            console.log(data);
            function getColumns(){
              for(var i = 0; i < data.length; i++){
                let columnsArray = [];
                var keys = Object.keys(data[i]);
                for(k in Object.keys(data[i])){
                  if(data[i].hasOwnProperty(keys[k])){
                    columnsArray.push({
                        "data":keys[k]
                    });
                  }
                }
                return columnsArray;
              }
            }

            $('#my-table').dataTable({
                "columns": getColumns(),
                "data": data,
                "responsive": true,
                "scrollX": true
            });
        });
        </script>
            <h5>Uploaded Data:</h5>
            <table id="my-table" class="table table-sm" width="90%">
            <thead>
            <th>pandaid</th>
            <th>modificationtime</th>
            <th>error_code</th>
            <th>error_message</th>
            </thead>
            <tbody></tbody>
            </table>
    {% else %}
    <h5>There are no errors for this time period.</h5>
    {% endif %}
    {% endblock content %}

